<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="username">Введите логин:</label>
        {{ form.username.errors }}
        {{ form.username }}

        <label for="password">Введите пароль:</label>
        {{ form.password.errors }}
        {{ form.password }}

        <label for="repeat_password">Повторите пароль:</label>
        {{ form.repeat_password.errors }}
        {{ form.repeat_password }}

        <label for="age">Введите свой возраст:</label>
        {{ form.age.errors }}
        {{ form.age }}

        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>